body {
    font-size: 14px;
    font-weight: 400;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    color: #000;
    line-height: 1.2em;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}